# Services
#
services:
	# Security ================
	nette.userStorage:
		Nette\Bridges\SecurityHttp\SessionStorage

	# Routing ================
	- App\Model\Router\RouterFactory
	router:
		type: Nette\Application\IRouter
		factory: @App\Model\Router\RouterFactory::create

	- App\Model\Database\QueryManager

	- App\Domain\Article\ArticleFacade
	- App\Domain\User\UserFacade
	- App\Mail\SendEmail
